.movie-card {
  border-radius: 15px;
  overflow: hidden;
  /* box-shadow: 0 3px 6px rgba(255, 255, 255, 0.1); */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.movie-poster {
  position: relative;
  width: 100%;
  padding-top: 150%;

  overflow: hidden;
}

.movie-poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.movie-card:hover .movie-poster img {
  transform: scale(1.05);
}

.movie-rating {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: rgba(29, 28, 28, 0.322);
  padding: 0.5rem 0.8rem 0.7rem 0.5rem;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating-star {
  font-size: 1rem;
}

.movie-info {
  padding: 0.5rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.movie-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin: 0;
  line-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
}
