* {
  margin: 0;
}
.header {
  height: 10vh;
  padding-inline: 1.5em;
  padding-block: 1em;
  background: linear-gradient(
    180deg,
    rgba(225, 236, 245, 0.5) 87%,
    rgba(87, 199, 133, 0) 92%
  );
  color: rgb(85, 85, 85);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.search {
  padding: 0.3em;
  margin-block: 0.5em;
}

@media (max-width: 380px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding-bottom: 2em;
    justify-content: center;
  }
}
