html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
